.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    color: white !important;
    background-color: #2c333d !important;
}
.location_dropdown{
    color: white !important;
}
.location_dropdown .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
    top:-12px;
}
.location_dropdown .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}
.location_dropdown .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    color: white !important;
    height: 30px !important;
}
.location_dropdown span {
    color: white !important;
}
.location_dropdown .css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
    color: white !important;
}
.navtab{
    margin: auto !important;
    cursor: pointer;
}
.css-y3ahi9-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0px 4px 7.5px 6px !important;
}
.location_dropdown .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}